@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

.header{
    position: fixed;
    width: 100%;
    top: 0px;
    
    height: 100px;
    z-index: 2;
    }
.navbar, .brand-name{
   text-decoration: none;
   color: #1A5D1A;
   font-size: 40px;
   font-family:"family=Almarai";
   letter-spacing: 2px;
       
}

.nav-link{
    color: #1A5D1A;
}