
/* incident css */

.incident-form{
    position: relative;
    top: 200px;
    border: 2px solid blue;
}
.date{
    margin-bottom: 20px;
}


#type, #title, #description, #region, #district, #street, #national_id{
    margin-bottom: 20px;
}

.btn-submit{
    background-color: #1A5D1A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}